# Enable mod_rewrite
RewriteEngine On

# Hide .php extension and redirect if the .php extension is explicitly used
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)\.php$ /$1 [L,R=301]

# Ensure that the rewritten URL works
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L]
